.dark-background {
  background-color: #2b362e;
  color: #fafcfb;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.criminal, .officer, .facility, .note {
  border: 1px dotted #000;
  flex-basis: 250px;
  margin: 2em;
  padding: 2em;
}